*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
}

.d-flex{
    display: flex;
}

.container{
    width: 70%;
    width: 1152px;
    margin: auto;
}

/* endregion utility */

/* header */
header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.banner{
    justify-content: space-between;
    background-color: #ff6900;
    padding: 0.5rem;
    text-align: center;
    color: white;
}
.customers > a{
    color: white;
    height: 1rem;
    background-color: #ff6900;
}
.logo{
    background-color: #ff6900;
}
.symbols{
    background-color: #ff6900;
}
.boolean{
    height: 1rem;
}

.symbols a{
    color: white;
    height: 1rem;
}


/* main */

.row{
    display: flex;
    flex-wrap: wrap;
}

.col4{
    width: calc((100% / 12) * 4);
    padding: 0.5rem;
}

.card{
    position: relative;
    background-color: #eeeeee;
}


.heart{
    position: absolute;
    background-color: white;
    top: 5%;
    right:0%
} 

.sales{
    background-color: red;
    color: white;
    display: inline-block;
    position: absolute;
    bottom: 15%;
    padding: 2px;
}

.sustainability{
    background-color: green;
    color: white;
    display: inline-block;
    position: absolute;
    bottom: 15%;
    left: 7%;
    padding: 2px;
}

.price{
    color: red;
}

.original_price{
    color: grey;
}

/*footer*/
ul{
    list-style-type: none;

}
.ft-bar {
    justify-content: center;
    height: 3rem;
}

.company {
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    height: 3rem;
    background-color: #1a1a1a;
    color: white;
}

.socials {
     background-color: #1a1a1a;
     color: white;
}


